/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */




/* @import url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap); */

/* html.ios {
  --ion-default-font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif
} */

@font-face {
  font-family: 'AvenirBold';
  src: url("/fonts/bold.otf") format("opentype");
}

@font-face {
  font-family: 'AvenirText';
  src: url("/fonts/demi.otf") format("opentype");
}

@font-face {
  font-family: 'TribeChat';
  src: url("/fonts/chat.woff2") format("woff2");
}

@font-face {
  font-family: 'TribeBlack';
  src: url("/fonts/GTblack.otf") format("opentype");
}

@font-face {
  font-family: 'TribeReg';
  src: url("/fonts/GTregular.otf") format("opentype");
}

@font-face {
  font-family: 'TribeMed';
  src: url("/fonts/GTmedium.otf") format("opentype");
}

@font-face {
  font-family: 'TribeBold';
  src: url("/fonts/GTbold.otf") format("opentype");
}

@font-face {
  font-family: 'FabBold';
  src: url("/fonts/tribebold.woff2") format("woff2");
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300, 400, 500, 600 700;
  /* Define the range of font-weight Rubik supports */
}

@font-face {
  font-family: 'SF Pro Black';
  src: url("/fonts/SF-Pro-Text-Black.otf") format("opentype");
}

@font-face {
  font-family: 'SF Pro Bold';
  src: url("/fonts/SF-Pro-Text-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'SF Pro Heavy';
  src: url("/fonts/SF-Pro-Text-Heavy.otf") format("opentype");
}

@font-face {
  font-family: 'TribeLight';
  src: url("/fonts/GTlight.otf") format("opentype");
}

@font-face {
  font-family: 'OH';
  src: url("/fonts/heavyheader.otf") format("opentype");
}

@font-face {
  font-family: 'SF Pro Medium';
  src: url("/fonts/SF-Pro-Text-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'SF Pro Regular';
  src: url("/fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SF Pro Semibold';
  src: url("/fonts/SF-Pro-Text-Semibold.otf") format("opentype");
}

* {
  font-family: 'TribeReg', sans-serif !important;
}

.header {
  font-family: 'TribeBlack', sans-serif !important;
}

.black {
  font-family: 'TribeBlack', sans-serif !important;
}

.regular {
  font-family: 'TribeReg', sans-serif !important;
}

.heavy {
  font-family: 'TribeBlack', sans-serif !important;
}

.heavyhead {
  font-family: 'OH', sans-serif !important;
}

.fab {
  font-family: 'FabBold', sans-serif !important;
}

.bold {
  font-family: 'TribeBold', sans-serif !important;
}

.semi {
  font-family: 'SF Pro Semibold', sans-serif !important;
}

.text {
  font-family: 'SF Pro Regular', sans-serif !important;
}

.light {
  font-family: 'TribeLight', sans-serif !important;
}

.medium {
  font-family: 'TribeMed', sans-serif !important;
}

.bottom-start-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* .chat-item ion-item {
  margin: 100
} */


.rounded-div {
  background-color: var(--ion-color-paper);
  /* Your color */
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  border-radius: 40px;
  /* Adjust as needed for rounded corners */
  display: flex;
  /* Use flexbox to align children horizontally */
  align-items: center;
  /* Center align the flex items vertically */
}


.ion-image-center {
  display: flex;
  justify-content: center !important;
  /* Align horizontally */
  align-items: center !important;
  /* Align vertically */
  height: 100%;
  /* Take full height of the toolbar */
}

.ion-image-center img {
  /* Adjust the height or width as needed */
  height: auto;
  /* Adjust this based on your needs */
  width: auto;
  /* Maintain the image's aspect ratio */
}

.from-me {
  float: right;
}

.message-card {
  word-wrap: break-word;
  /* This will break the long text into multiple lines */
  overflow-wrap: break-word;
  /* For better cross-browser support */
  max-width: 100%;
  display: inline-block;
  /* Card will shrink based on content */
  width: auto;
  /* Overrides any full-width default */
  white-space: pre-wrap;
  /* Prevents text from wrapping */
}

textarea {
  font-family: 'TribeReg' !important;
  font-size: '1rem' !important;
}

.message-card-content {

  padding: 15px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  border-radius: 20px;
  /* Prevents text from wrapping */
}

ion-header,
ion-header ion-toolbar {
  --border-width: 0 !important;
  border: none !important;
  box-shadow: none !important;
  display: flex;
}

.footer-ios ion-toolbar:first-of-type {
  --border-color: var(--ion-color-medium-shade) !important;
}

ion-segment {
  --background: transparent; /* Replace with your desired color */
  box-shadow: none !important;

}

ion-segment-button::part(indicator-background) {
  background: transparent;
  box-shadow: none !important;

}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color:var(--ion-color-medium);
}

.segment-button-checked.md::part(native) {
  color: var(--ion-color-dark);
}

ion-segment-button.md::part(indicator-background) {
  height: 3px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: var(--ion-color-dark);
  opacity: 0.5;

}

.segment-button-checked.ios::part(native) {
  color: var(--ion-color-dark);
  opacity: 1;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 16px;
}

ion-footer,
ion-footer ion-toolbar {
  --border-width: 0;
  border: none;
  box-shadow: none !important;
}

.message-card ion-card-content {
  display: inline-block;
  /* Card will shrink based on content */
  width: auto;
  /* Overrides any full-width default */
  white-space: pre-wrap;
  /* Prevents text from wrapping */
  /* adjust this value as needed */
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #037BFE;
  --ion-color-primary-tint: #ffffff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #0f1419;
  --ion-color-dark-rgb: rgb(15, 20, 25);
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #c3c3c3;
  --ion-color-medium-rgb: 162, 162, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #e5e5e5;
  --ion-color-medium-tint: #9d9fa6;

  /** card **/
  --ion-color-card: #ffffff;
  --ion-color-card-rgb: 162, 162, 162;
  --ion-color-card-contrast: #ffffff;
  --ion-color-card-contrast-rgb: 255, 255, 255;
  --ion-color-card-shade: #808289;
  --ion-color-card-tint: #9d9fa6;


  /** postcard **/
  --ion-color-postcard: #ffffff;
  --ion-color-postcard-rgb: 162, 162, 162;
  --ion-color-postcard-contrast: #ffffff;
  --ion-color-postcard-contrast-rgb: 255, 255, 255;
  --ion-color-postcard-shade: #808289;
  --ion-color-postcard-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f5f5f5;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da00;
  --ion-color-light-tint: #E9E8EB;

    /** lightt **/
  --ion-color-lightt: #FFFFFF;
  --ion-color-lightt-rgb: 244, 245, 248;
  --ion-color-lightt-contrast: #000000;
  --ion-color-lightt-contrast-rgb: 0, 0, 0;
  --ion-color-lightt-shade: #d7d8da00;
  --ion-color-lightt-tint: #E9E8EB;

    /** tabblur **/
  --ion-color-tabblur: #ffffff;
  --ion-color-tabblur-rgb: rgb(255, 255, 255);
  --ion-color-tabblur-contrast: #000000;
  --ion-color-tabblur-contrast-rgb: 0, 0, 0;
  --ion-color-tabblur-shade: #d7d8da00;
  --ion-color-tabblur-tint: #E9E8EB;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #ffffff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #037BFE;
    --ion-color-primary-tint: #ffffff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #e7e9ea;
    --ion-color-dark-rgb: rgb(231, 233, 234);
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #454545;
    --ion-color-medium-rgb: 162, 162, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #121212;
    --ion-color-medium-tint: #a2a4ab;

      /** card **/
    --ion-color-card: #0d0d0d;
    --ion-color-card-rgb: 162, 162, 162;
    --ion-color-card-contrast: #ffffff;
    --ion-color-card-contrast-rgb: 255, 255, 255;
    --ion-color-card-shade: #808289;
    --ion-color-card-tint: #9d9fa6;


      /** postcard **/
    --ion-color-postcard: #0d0d0d;
    --ion-color-postcard-rgb: 162, 162, 162;
    --ion-color-postcard-contrast: #ffffff;
    --ion-color-postcard-contrast-rgb: 255, 255, 255;
    --ion-color-postcard-shade: #808289;
    --ion-color-postcard-tint: #9d9fa6;
  

    --ion-color-light: #0d0d0d;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e202300;
    --ion-color-light-tint: #26262B;

        /** lightt **/
    --ion-color-lightt: #171717;
    --ion-color-lightt-rgb: 34, 36, 40;
    --ion-color-lightt-contrast: 255, 255, 255;
    --ion-color-lightt-contrast-rgb: 0, 0, 0;
    --ion-color-lightt-shade: #1e202300;
    --ion-color-lightt-tint: #26262B;

        /** tabblur **/
    --ion-color-tabblur: #000000;
    --ion-color-tabblur-rgb: rgb(0, 0, 0);
    --ion-color-tabblur-contrast: #000000;
    --ion-color-tabblur-contrast-rgb: 0, 0, 0;
    --ion-color-tabblur-shade: #d7d8da00;
    --ion-color-tabblur-tint: #E9E8EB;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #000000;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #aaaaaa;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;


    --ion-color-paper: #000000;
    /* Dark Gray */
    --ion-color-paper-rgb: 46, 46, 46;
    --ion-color-paper-contrast: #ffffff;
    /* Contrast to be easily visible on dark gray */
    --ion-color-paper-contrast-rgb: 255, 255, 255;
    --ion-color-paper-shade: #000000;
    /* modal color */
    /* A bit darker shade */
    --ion-color-paper-tint: #222222;
    /* A bit lighter tint */

  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-50);
    --ion-toolbar-background: var(--ion-color-tabblur);
    --ion-toolbar-border-color: var(--ion-color-medium-shade);
  }

  .recharts-text {
    font-family: 'SF Pro Bold' !important;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }


}

.ion-profile {
  --ion-card-background: transparent;

}

.item-inner {
  --padding-start: 0;
  --padding-end: var(--ion-padding-end, 0px); /* Adjust the default value as needed */

}

.custom {
  --border-radius: 20px;
  --background: var(--ion-color-light);
  
}
.sc-ion-searchbar-ios-h {
  align-items: stretch !important; /* or your desired value */
}

.searchbar-input-container.sc-ion-searchbar-ios {
  min-height: 2.5rem !important;
  max-height: 2.5rem !important;
}

.searchbar-search-icon.sc-ion-searchbar-ios {
  inset-inline-start: 10px;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 2.35rem;
  letter-spacing: -0.0135em;
}
ion-button.custombutton::part(native) {
  border-radius: 24px;
  background-color: var(--ion-color-tribe);
  padding: 20px;
  font-family: 'TribeBold';
  font-size: 1.1rem;
}

/* Remove shadow from buttons */
ion-button {
  --box-shadow: none !important;
  --box-shadow-hover: none !important;
}

/* Remove shadow from cards */
ion-card {
  --box-shadow: none !important;
}

/* Remove shadow from input elements */
ion-input,
ion-textarea,
ion-select,
ion-datetime,
ion-searchbar {
  --box-shadow: none !important;
  --highlight-height: 0 !important;
}

/* Remove shadow from modals */
ion-modal .modal-shadow {
  box-shadow: none !important;
}

/* Remove shadow from floating labels */
ion-label[floating] .sc-ion-label-md-h,
ion-label[floating] .sc-ion-label-ios-h {
  --box-shadow: none !important;
}

/* Remove shadow from toolbars */
ion-header,
ion-footer {
  --box-shadow: none !important;

}

/* Remove shadow from segments */
ion-segment-button {
  --box-shadow: none !important;
  min-height: 3.5vh !important

}

ion-segment-button::part(indicator) {
  width: 100%; /* Adjust this value to set the desired width */
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  overflow: hidden;
}

/* Change the text style to not be all capitals */
ion-segment-button .bold {
  text-transform: none; /* This will make the text appear in normal casing */
  margin-bottom: -5px; /* Reduces the bottom margin */
  padding-bottom: 0; /* Reduces the bottom padding */
  letter-spacing: normal;
}

/* Remove shadow from any other possible elements */
* {
  box-shadow: none !important;
}

/* New tribe Color */
:root {
  --ion-color-tribe: #F45000;
  --ion-color-tribe-rgb: 255, 87, 0;
  --ion-color-tribe-contrast: #ffffff;
  --ion-color-tribe-contrast-rgb: 255, 255, 255;
  --ion-color-tribe-shade: #dd5700;
  --ion-color-tribe-tint: #fff711;
}

/* Color Usage Example */
.ion-color-tribe {
  --ion-color-base: var(--ion-color-tribe);
  --ion-color-base-rgb: var(--ion-color-tribe-rgb);
  --ion-color-contrast: var(--ion-color-tribe-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tribe-contrast-rgb);
  --ion-color-shade: var(--ion-color-tribe-shade);
  --ion-color-tint: var(--ion-color-tribe-tint);
}

/* New tribe Color */
:root {
  --ion-color-tribe: #F45000;
  --ion-color-tribe-rgb: 255, 87, 0;
  --ion-color-tribe-contrast: #ffffff;
  --ion-color-tribe-contrast-rgb: 255, 255, 255;
  --ion-color-tribe-shade: #dd5700;
  --ion-color-tribe-tint: #fd2200;
}

/* Color Usage Example */
.ion-color-tribel {
  --ion-color-base: var(--ion-color-tribel);
  --ion-color-base-rgb: var(--ion-color-tribel-rgb);
  --ion-color-contrast: var(--ion-color-tribel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tribel-contrast-rgb);
  --ion-color-shade: var(--ion-color-tribel-shade);
  --ion-color-tint: var(--ion-color-tribel-tint);
}

ion-button,
ion-icon {
  --ripple-color: transparent;
  /* For Ionic 4+ */
  --background-activated: transparent;
  /* For Ionic 4+ */
  --background-focused: transparent;
  /* For Ionic 4+ */
  --background-hover: transparent;
  /* For Ionic 4+ */
  
}


/* New tribel Color */
:root {
  --ion-color-tribel: #989AA2;
  --ion-color-tribel-rgb: 255, 87, 0;
  --ion-color-tribel-contrast: #ffffff;
  --ion-color-tribel-contrast-rgb: 255, 255, 255;
  --ion-color-tribel-shade: #dd5700;
  --ion-color-tribel-tint: #fd2200;
}

/* Light Mode: Paper Color */
:root {
  --ion-color-paper: #FFFFFF;
  /* Pale Whitish-Gray */
  --ion-color-paper-rgb: 255, 255, 255;
  --ion-color-paper-contrast: #000000;
  /* Contrast to be easily visible on pale gray */
  --ion-color-paper-contrast-rgb: 0, 0, 0;
  --ion-color-paper-shade: #ffffff;
  /* A bit darker shade */
  --ion-color-paper-tint: #f1f1f1;
  /* A bit lighter tint */
}

/* Color Usage */
.ion-color-paper {
  --ion-color-base: var(--ion-color-paper);
  --ion-color-base-rgb: var(--ion-color-paper-rgb);
  --ion-color-contrast: var(--ion-color-paper-contrast);
  --ion-color-contrast-rgb: var(--ion-color-paper-contrast-rgb);
  --ion-color-shade: var(--ion-color-paper-shade);
  --ion-color-tint: var(--ion-color-paper-tint);
}

ion-card {
  border-radius: 12px;
  /* Adjust the value to your desired border radius */
}

ion-tab-bar {
  --border-width: 0 0 0 0;
  --box-shadow: none;

  /* Set the background to a translucent color */
  background: rgba(255, 255, 255, 0.5); /* Here, '0.5' is the alpha value for 50% transparency */

  /* Add the blur effect */
  backdrop-filter: blur(25px); /* Adjust the px value to increase or decrease the blur */
}

.message-container {
  padding: 1px;
}

.native-wrapper.sc-ion-textarea-ios textarea.sc-ion-textarea-ios {
  padding-bottom: 0px !important;
  padding-top: 16px;
}

.msg {
  margin: 0px !important;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 17px;
  display: block;
  clear: both;
  font-size: 16px;
  white-space: pre-wrap !important;

}

ion-footer {
  border-top: 0px !important;
}

::slotted([slot="start"]) {
  margin: 0px !important;
}



.send {
  margin-left: 0px !important;
  float: right;
  color: var(--ion-color-primary-tint);
  background: var(--ion-color-primary-shade);
}


.recieve {
  margin: 0px !important;
  color: var(--ion-color-light-contrast);
  background: var(--ion-color-light-tint);
}

.reply {
  background: var(--ion-color-medium);
  margin: 0px !important;
  font: 7
}

.image-msg {
  padding: 0px !important;
  background: rgba(0, 0, 0, 0) !important;
}

ion-content {

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
ion-content::part(scroll) {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

ion-tab-button {
  background-color: transparent;
}

ion-tab-bar {
  --box-shadow: none;

  /* Set the border-top with 1px and use ion-color-medium variable for the color */
  border-top: 0px solid var(--ion-color-medium-shade);
  /* Set the background to a translucent color */
  background: var(--ion-color-tabblur); /* Here, '0.5' is the alpha value for 50% transparency */

  /* Add the blur effect */
  backdrop-filter: blur(10px); /* Adjust the px value to increase or decrease the blur */
}

:root {
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-tint: #ffffff;
}

.transparent{
  --background: var(--ion-color-paper) !important;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

ion-select::part(icon) {
  color: white;
  opacity: 1;
}



.vote-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-container {
  width: 20px;
  /* Fixed width */
  text-align: center;
}

.score-label {
  text-overflow: clip;
  /* Score label styles, if any */
}

a {
  color: var(--ion-color-tribe);
  font-family: 'TribeMed' !important;
  text-decoration: none !important;
}